/* css styles */
.justify-text {
    text-align: justify;
}
body {
    font-size: 20px; /* Adjust the font size as needed */
    color: #454545;
}

#hero-heading {
    font-size: 22px; /* Adjust the font size as needed */
    color: #633a3a;
}

.title-custom {
    font-size: 23px; /* Adjust the size as needed */
    font-weight: 400; /* Font weight should be a number from 100 to 900 */
    line-height: .5em; /* Adjust the line height for better readability */
    margin-bottom: 0em; /* Adjust the space below the title */
}
.subtitle-custom {
    font-size: 20px; /* Adjust the size as needed */
    font-weight: 200; /* Adjust weight if needed */
    line-height: 0em; /* Adjust line height if needed */
    margin-bottom: 0em; /* Space below the subtitle */
}

body .page-columns {
display: grid;
gap: 0;
grid-template-columns: [screen-start] 1.5em [screen-start-inset] 1fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(850px - .5em)) [body-content-end] 1em [body-end] 35px [body-end-outset] minmax(75px, 145px) [page-end-inset] 35px [page-end] 1fr [screen-end-inset] 1.5em [screen-end];
}
#title-block-header {
margin-block-end: 0rem;
position: relative;
margin-top: -1px;
}

div.quarto-about-trestles .about-entity .about-image {
object-fit: cover;
margin-bottom: .5em;
}

div.quarto-about-trestles .about-entity .about-link { /* linkedin, github... icons */
    font-size: 1.6em;
    padding: 0em 0em;
    border-radius: 0px;
}
div.quarto-about-trestles .about-entity .about-link { /* linkedin, github... icons color */
color: #633a3a;
text-decoration: none;
border: none;
}

div.quarto-about-trestles .about-entity .about-link:hover {/* linkedin, github... icons color hover */
    color: #944141;
}
div.quarto-about-trestles {
    display: flex !important;
    flex-direction: row;
    padding-top: .2em !important;
    padding-bottom: .2em
}
div.quarto-about-trestles .about-entity .about-links {
    flex-direction: row;
    column-gap: .2em;
    row-gap: .2em;
    flex-wrap: wrap;
}

/* change hyperlink color */
a {
    color: #944141; /* Default color */
}
a:hover {
    color: #67703a; /* Hover color */
}

.navbar {
    background-color: #ffffff; /* Heading background color */
}
.navbar-nav .menu-text{
    color: #944141; /* Home color at navigation bar */
}
.navbar-nav .menu-text:hover{
    color: #67703a; /* Home color at navigation bar*/
}
.navbar-brand {
    color: #944141; /* website title 'Espe Broullón'*/
    font-size: 30px;
}
.navbar-brand:hover {
    color: #67703a; /* website title 'Espe Broullón'*/
}
.nav-link {
    color: #944141; /* sections */
    font-size: 30px;
}
.nav-link:hover {
    color: #67703a; /* sections */
}

/*.navbar {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .11); /* shadow line below the hading */
/*} */

.main {
  margin-top: 1em;
  margin-bottom: 1em;
}
.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #67703a !important; /*List on the right hand side in 'home about' when clic (hover). NOT WORKING*/
}
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    color: #944141 !important; /*List on the right hand side in 'home about' */
    font-size: 18px;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left-color: #944141 !important; /*List on the right hand side in 'home about' */
}
.sidebar {
    margin-top: 75px;
}
.sidebar nav[role=doc-toc] > h2, .sidebar nav[role=doc-toc] > .h2 {
    font-size: 1.2rem;  /*font size in relative units. 1rem is approx 16pt */
}
.sidebar.margin-sidebar nav[role=doc-toc]>ul li a{
    color: #454545; /* Same color for consistency */
    font-size: 16px; /* Smaller size for sidebar links */
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    gap: 1em; /* Space between grid items */
    margin-bottom: 1em; /* Space below the grid */
}

/* Each video item */
.video-item {
    position: relative;
}

.video-title {
    font-size: 1em; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 0.5em; /* Space between title and video */
    text-align: center; /* Center title if needed */
}

.video-item iframe {
    width: 100%;
    height: 100%;
    border: none;
}